body, html {
    height: 100%;
    margin: 0;
  }
  
  .parallax {
    /* กำหนดความสูงให้มองเห็นรูป */
    height: 100%; 
  
    /* บังคับให้รูปอยู่ตรงกลางและครอบคลุมพื้นที่ */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    /* จัดข้อความให้อยู่ตรงกลาง */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
  }
  
  .content {
    height: 50px;;
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: auto;
  }
  
  .message {
      font-size: 24px;
      padding: 10px 20px;
      background: rgba(0, 0, 0, 0.5);
  }